<template>
    <div class="add-smoothie container">
        <h2 class="center-align indigo-text">Add New Smoothie Recipe</h2>
        <form @submit.prevent="addSmoothie">
            <div class="field title">
                <label for="title">Smoothie Title:</label>
                <input type="text" name="title" v-model="title">
            </div>
            <div class="temp-ingredients" v-for="(ing, index) in ingredients" :key="index">
                <label for="ingredient">Ingredients: {{ index+1 }}</label>
                <input type="text" name="ingredient" v-model="ingredients[index]">
                <i class="material-icons delete" @click="deleteIngredient(ing)">delete</i>
            </div>
            <div class="field add-ingredients">
                <label for="add-ingredients">Add an Ingredient:</label>
                <input type="text" name="add-ingredient" @keydown.tab.prevent="addIngredient" v-model="tempIngredient">
            </div>
            <div class="field center-align">
                <p v-if="feedback" class="red-text">{{ feedback }}</p>
                <button class="btn pink add-smoothe-button">Add Smoothie</button>
            </div>
        </form>
    </div>
</template>

<script>
import db from '@/firebase/init'
import slugify from 'slugify'
export default {
    name: "AddSmoothie",
    data(){
        return {
            title: null,
            tempIngredient: null,
            ingredients: [],
            feedback: null,
            slug: null,
        }
    },
    methods: {
        addSmoothie(){
            // console.log(this.title, this.ingredients)
            if(this.title != null && this.ingredients.length != 0){
                this.feedback = null;
                //create a slug
                this.slug = slugify(this.title, {
                    replacement: '-',
                    remove: /[$*_+˜.()'"!\-:@]/g,
                    lower: true,
                })
                console.log(this.slug)
                db.collection('smoothies').add({
                    title: this.title,
                    ingredients: this.ingredients,
                    slug: this.slug,
                }).then(() => {
                    this.$router.push({ name: 'Index'})
                }).catch(err => {
                    console.log(err)
                })
            }else{
                this.feedback = "Please provide Title and Ingredients"
            }
        },
        addIngredient(){
            if(this.tempIngredient != null){
                this.ingredients.push(this.tempIngredient)
                this.tempIngredient = null
                this.feedback = null
            }else{
                this.feedback = "You mus anter a value to add an ingredient"
            }
        },
        deleteIngredient(ing){
            this.ingredients = this.ingredients.filter(ingredient => {
                return ingredient != ing
            })
        }
    }
}
</script>


<style scoped>
    .add-smoothie{
        margin-top: 10px;
        padding: 20px;
        max-width: 500px;
    }
    .add-smoothie h2{
        font-size: 2em;
         margin: 20px auto;
    }
    .add-smoothie .field{
        margin: 20px auto;
    }
    .add-smoothie .add-smoothe-button{
        border-radius: 20px;
    }
    .temp-ingredients{
        position: relative;
        /* border: 1px solid blue; */
    }
    .temp-ingredients  .delete{
        position: absolute;
        right:5px;
        bottom: 15px;
        font-size: 1.8em;
        color: #aaa;
    }
    .temp-ingredients .delete:hover{
        color: red;
        cursor: pointer;
    }

</style>

