<template>
    <div v-if="smoothie" class="edit-smoothie container">
        <h2 class="center-align indigo-text">Edit: {{ smoothie.title }} :Smoothie</h2>
        <form @submit.prevent="EditSmoothie">
            <div class="field title">
                <label for="title">Smoothie Title:</label>
                <input type="text" name="title" v-model="smoothie.title">
            </div>
            <div class="temp-ingredients" v-for="(ing, index) in smoothie.ingredients" :key="index">
                <label for="ingredient">Ingredients: {{ index+1 }}</label>
                <input type="text" name="ingredient" v-model="smoothie.ingredients[index]">
                <i class="material-icons delete" @click="deleteIngredient(ing)">delete</i>
            </div>
            <div class="field add-ingredients">
                <label for="add-ingredients">Add an Ingredient:</label>
                <input type="text" name="add-ingredient" @keydown.tab.prevent="addIngredient" v-model="tempIngredient">
            </div>
            <div class="field center-align">
                <p v-if="feedback" class="red-text">{{ feedback }}</p>
                <button class="btn pink add-smoothe-button">Update Smoothie</button>
            </div>
        </form>
    </div>
</template>

<script>
import db from '@/firebase/init'
import slugify from 'slugify'
export default {
    name: 'EditSmoothie',
    data(){
        return {
            smoothie: null,
            tempIngredient: null,
            feedback: null,
        }
    },
    methods: {
        EditSmoothie(){
            if(this.smoothie.title != null && this.smoothie.ingredients.length != 0){
                this.feedback = null;
                //create a slug
                this.smoothie.slug = slugify(this.smoothie.title, {
                    replacement: '-',
                    remove: /[$*_+˜.()'"!\-:@]/g,
                    lower: true,
                })
                console.log(this.slug)
                db.collection('smoothies').doc(this.smoothie.id).update({
                    title: this.smoothie.title,
                    ingredients: this.smoothie.ingredients,
                    slug: this.smoothie.slug,
                }).then(() => {
                    this.$router.push({ name: 'Index'})
                }).catch(err => {
                    console.log(err)
                })
            }else{
                this.feedback = "Please provide Title and Ingredients"
            }
        },
        addIngredient(){
            if(this.tempIngredient != null){
                this.smoothie.ingredients.push(this.tempIngredient)
                this.tempIngredient = null
                this.feedback = null
            }else{
                this.feedback = "You mus anter a value to add an ingredient"
            }
        },
        deleteIngredient(ing){
            this.smoothie.ingredients = this.smoothie.ingredients.filter(ingredient => {
                return ingredient != ing
            })
        }
    },
    created(){
        let smoothie = db.collection('smoothies').where('slug', '==', this.$route.params.smoothie_slug)
        smoothie.get().then(snapshot =>{
            snapshot.forEach(doc =>{
                console.log(doc.data())
                this.smoothie = doc.data()
                this.smoothie.id = doc.id
            })
        })
    },

}
</script>

<style scoped>
    .edit-smoothie h2{
        font-size: 2em;
         margin: 20px auto;
    }
    .edit-smoothie{
        margin-top: 10px;
        padding: 20px;
        max-width: 500px;
    }
    .edit-smoothie h2{
        font-size: 2em;
         margin: 20px auto;
    }
    .edit-smoothie .field{
        margin: 20px auto;
    }
    .edit-smoothie .add-smoothe-button{
        border-radius: 20px;
    }
    .temp-ingredients{
        position: relative;
        /* border: 1px solid blue; */
    }
    .temp-ingredients  .delete{
        position: absolute;
        right:5px;
        bottom: 15px;
        font-size: 1.8em;
        color: #aaa;
    }
    .temp-ingredients .delete:hover{
        color: red;
        cursor: pointer;
    }
</style>
