<template>
  <div class="index container">
    <div class="card" v-for="smoothie in smoothies" :key="smoothie.id">
      <div class="card-content">
        <i class="material-icons delete" @click="deleteSmoothie(smoothie.id)">delete</i>
        <h2 class="indigo-text">{{ smoothie.title }} </h2>
        <ul class="ingredients"  >
          <li v-for="(ingredient, index) in smoothie.ingredients" :key="index">
            <span class="chip">{{ ingredient }}</span>
          </li>
        </ul>
      </div>
      <span class="btn-floating btn-large halfway-fab pink">
        <router-link :to="{ name: 'EditSmoothie', params: {smoothie_slug: smoothie.slug} }">
          <i class="material-icons edit">edit</i>
        </router-link>
      </span>
    </div>
  </div>
</template>

<script>
//import firestore
import db from '@/firebase/init'

export default {
  name: 'Index',
  data () {
    return {
      smoothies: []
    }
  },
  methods: {
    deleteSmoothie(id){
      // console.log(id)
      // dekete doc from firstore
      db.collection('smoothies').doc(id).delete()
       .then(() =>{
          this.smoothies = this.smoothies.filter(smoothie =>{
          return smoothie.id != id
        })
      })
    }
  },
  created(){
    //fetch data from the firestore
    db.collection('smoothies').get()
    .then(snapshot =>{
      snapshot.forEach(doc =>{
        // console.log(doc.data(), doc.id)
        let smoothie = doc.data()
        smoothie.id = doc.id
        this.smoothies.push(smoothie)
      })
    }).catch("Data conection not established")
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .index{
    background-color:rgba(236, 220, 220, 0.54);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px;
  }
  .index h2{
    font-size: 1.8em;
    text-align: center;
    margin-top: 0px;
  }
  .index .ingredients{
    margin: 30px auto;
  }
  .index .ingredients li{
    display: inline-block;
  }
  .index .delete{
    position: absolute;
    top: 4px;
    right: 2px;
    cursor: pointer;
    color: #aaa;
    font-size: 1.4em;
  }
  .index .delete:hover{
    color: red;
  }
  

</style>
